.days-weather {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  justify-items: center;
}

.current-weather {
  position: relative;
  background-image: url(../../images/waves_weather.svg);
  background-color: #012e4f;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  padding: 20px;
  border-radius: 15px;
  border-style: solid;
  border-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #b3b3b3,
    0px 5px 15px 1px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #b3b3b3, 0px 5px 15px 1px rgba(0, 0, 0, 0);

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.current-weather:hover,
.current-weather:focus,
.current-weather:active {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.current-weather__cityname {
  font-size: 30px;
  color: #ffffffaf;
  margin: 0;
}

.current-weather__temp {
  font-size: 50px;
  color: #ffffff;
  margin: 0;
}

.current-weather__text {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.current-weather__icon {
  width: 200px;
}

.days-weather__title {
  margin: 0;
  color: #323642;
  margin-bottom: 10px;
}
.current-weather__container2 {
  display: flex;
  align-items: flex-start;
}

.current-weather__save {
  color: #ffffff;
}

.current-weather__saved {
  color: #fed883;
}

@media screen and (max-width: 935px) {
  .days-weather {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 745px) {
  .days-weather {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .days-weather {
    grid-template-columns: repeat(2, 1fr);
  }
  .current-weather__icon {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .days-weather {
    grid-template-columns: repeat(1, 1fr);
  }
  .current-weather {
    flex-direction: column;
  }
}

/* @media screen and (max-width: 350px) {
  .current-weather__cityname {
    font-size: 15px;
  }
  .current-weather__temp {
    font-size: 15px;
  }
  .current-weather__text {
    font-size: 10px;
  }
} */
