.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.main__title {
  color: #9b9ea5;
}

@media screen and (max-width: 550px) {
  .main {
    padding: 0;
  }
}
