.days-card {
  padding: 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  justify-content: flex-start;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 13px -7px #b3b3b3,
    0px 5px 15px 1px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #b3b3b3, 0px 5px 15px 1px rgba(0, 0, 0, 0);

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.days-card:hover,
.days-card:focus,
.days-card:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.days-card__title {
  margin: 0;
  color: #323642;
  font-size: 25px;
}
.days-card__temp {
  margin: 0;
}

.days-card__text {
  text-align: center;
  font-size: 15px;
  margin: 0;
  color: #9b9ea5;
}

.days-card__icon {
  width: 100px;
}
